{% load static %} {% load compress %} {% load mptt_tags %} {% load i18n %} <!DOCTYPE html><html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="{{ description }}" name="description"/>
  <meta content="" name="author"/>
  <title>
   {{ title }}
  </title>
  <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
  <link href="{% static '/multicolor/images/ico/favicon.ico' %}" rel="shortcut icon"/>
  <link href="{% static '/multicolor/images/ico/apple-touch-icon-144-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="144x144"/>
  <link href="{% static '/multicolor/images/ico/apple-touch-icon-114-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="114x114"/>
  <link href="{% static '/multicolor/images/ico/apple-touch-icon-72-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="72x72"/>
  <link href="{% static '/multicolor/images/ico/apple-touch-icon-57-precomposed.png' %}" rel="apple-touch-icon-precomposed"/>
  <meta content="{{ title }}" property="og:title"/>
  <meta content="{{ description }}" property="og:description"/>
  <meta content="blog" property="og:type"/>
  <meta content="{{request.path}}" property="og:url"/>
  <meta content="{{ category.img }}" property="og:image"/>
  {% compress css %}
  <link href="{% static '/multicolor/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/multicolor/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/multicolor/css/lightbox.css' %}" rel="stylesheet"/>
  <link href="{% static '/multicolor/css/animate.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/multicolor/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static '/multicolor/css/responsive.css' %}" rel="stylesheet"/>
  {% endcompress %}
 </head>
 <!--/head-->
 <body>
  {% include 'header.html' %}
  <!--/#header-->
  <section id="page-breadcrumb">
   <div class="vertical-center sun">
    <div class="container">
     <div class="row">
      <div class="action">
       <div class="col-sm-12">
        <h1 class="title" data-django="title">
         {{ title }}
        </h1>
        <p data-django="breadcrumbs-page">
         <span><a href="/">{{ txt_home_656.text }}</a> / {{ title }}</span>
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--/#page-breadcrumb-->
  <section>
   <div data-django="messages">
    {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
    <div class="container" style="margin-top: 1rem;color: #721c24;background-color: #f8d7da;position: relative;padding: 0.75rem 1.25rem;margin-bottom: 1rem;border: #f5c6cb 1px solid;border-radius: 0.25rem;">
     {{ message }}
    </div>
    {% else %}
    <div class="container" style="margin-top: 1rem;color: #155724;background-color: #d4edda;position: relative;padding: 0.75rem 1.25rem;margin-bottom: 1rem;border: #c3e6cb 1px solid;border-radius: 0.25rem;">
     {{ message }}
    </div>
    {% endif %}
                            {% endfor %}
                        {% endif %}
   </div>
  </section>
  <section class="choose" id="company-information">
   <div class="container">
    <div class="row">
     <div class="col-sm-6 wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1000ms">
      <img alt="" class="img-responsive" src="{{ img_imagesservices4_656.img.url }}"/>
     </div>
     <div class="col-sm-6 padding-top wow fadeInDown" data-django="html" data-wow-delay="0ms" data-wow-duration="1000ms">
      {{ html_6bb572e775fdd179969586ddd9faba85_656.html | safe }}
     </div>
    </div>
   </div>
  </section>
  <!--/#company-information-->
  <section id="services">
   <div class="container">
    <div class="row">
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="300ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="300ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imageshomeicon1_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_0ccf4150f61b4e36249d4b1cd8530f12_656.html | safe }}
       </div>
      </div>
     </div>
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="600ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="600ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imageshomeicon2_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_170d566b7eaa6b70150c4e290a515cdf_656.html | safe }}
       </div>
      </div>
     </div>
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="900ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="900ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imageshomeicon3_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_5a3a330d37e17cd7a249abaa64effb19_656.html | safe }}
       </div>
      </div>
     </div>
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="300ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="300ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imagesservices1_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_0ccf4150f61b4e36249d4b1cd8530f12_656.html | safe }}
       </div>
      </div>
     </div>
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="600ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="600ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imagesservices2_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_170d566b7eaa6b70150c4e290a515cdf_656.html | safe }}
       </div>
      </div>
     </div>
     <div class="col-sm-4 text-center padding wow fadeIn" data-wow-delay="900ms" data-wow-duration="1000ms">
      <div class="single-service">
       <div class="wow scaleIn" data-wow-delay="900ms" data-wow-duration="500ms">
        <img alt="" src="{{ img_imagesservices3_656.img.url }}"/>
       </div>
       <div data-django="html">
        {{ html_5a3a330d37e17cd7a249abaa64effb19_656.html | safe }}
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--/#services-->
  <section class="responsive" id="action">
   <div class="vertical-center">
    <div class="container">
     <div class="row">
      <div class="action take-tour">
       <div class="col-sm-7 wow fadeInLeft" data-django="html" data-wow-delay="300ms" data-wow-duration="500ms">
        {{ html_c7a7d5e6958c7b4788c00f0b29bfb5c3_656.html | safe }}
       </div>
       <div class="col-sm-5 text-center wow fadeInRight" data-wow-delay="300ms" data-wow-duration="500ms">
        <div class="tour-button" data-django="html">
         {{ html_942c09e60ba21722beb916939f154f24_656.html | safe }}
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--/#action-->
  <section class="recent-projects" id="recent-projects">
   <div class="container">
    <div class="row">
     <div data-django="html">
      {{ html_994f47735eb2f3e7862f632a3e7e8a9b_656.html | safe }}
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="300ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio1_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio1_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="400ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio2_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio2_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="500ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio3_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio3_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="600ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio4_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio4_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="700ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio5_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio5_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="800ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio6_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio6_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="900ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio7_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio7_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
     <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1000ms">
      <div class="portfolio-wrapper">
       <div class="portfolio-single">
        <div class="portfolio-thumb">
         <img alt="" class="img-responsive" src="{{ img_imagesportfolio8_656.img.url }}"/>
        </div>
        <div class="portfolio-view">
         <ul class="nav nav-pills">
          <li>
           <a data-lightbox="example-set" href="{{ img_imagesportfolio8_656.img.url }}">
            <i class="fa fa-eye">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="portfolio-info">
        <h2>
         {{ txt_a1b95a9870ed8f2523cc182ce0d30979_656.text }}
        </h2>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--/#recent-projects-->
  <section id="clients">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="clients text-center wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">
       <p>
        <img alt="" class="img-responsive" src="{{ img_imageshomeclients_656.img.url }}"/>
       </p>
       <div>
        <h1 class="title">
         {{ txt_0c8d04da19683cb84c8aa121a571832d_656.text }}
        </h1>
        <p>
         {{ txt_e2bebae2ef726e40a86bf3f82e51f8fa_656.text }}
         <br/>
         {{ txt_d7620b400c5e9d24f54928bd9d20770e_656.text }}
        </p>
       </div>
      </div>
      <div class="clients-logo wow fadeIn" data-wow-delay="600ms" data-wow-duration="1000ms">
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client1" href="{{ link_client1_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient1_656.img.url }}"/>
        </a>
       </div>
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client2" href="{{ link_client2_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient2_656.img.url }}"/>
        </a>
       </div>
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client3" href="{{ link_client3_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient3_656.img.url }}"/>
        </a>
       </div>
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client4" href="{{ link_client4_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient4_656.img.url }}"/>
        </a>
       </div>
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client5" href="{{ link_client5_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient5_656.img.url }}"/>
        </a>
       </div>
       <div class="col-xs-3 col-sm-2">
        <a data-django-link="client6" href="{{ link_client6_656.link }}">
         <img alt="" class="img-responsive" src="{{ img_imageshomeclient6_656.img.url }}"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--/#clients-->
  {% include 'footer.html' %}
  <!--/#footer-->
  {% compress js %}
  <script src="{% static '/multicolor/js/jquery.js' %}" type="text/javascript">
  </script>
  <script src="{% static '/multicolor/js/bootstrap.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static '/multicolor/js/lightbox.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static '/multicolor/js/wow.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static '/multicolor/js/main.js' %}" type="text/javascript">
  </script>
  {% endcompress %}
 </body>
</html>
